<mat-card>
  <mat-card-content
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <mat-card-title style="text-align: center; flex-grow: 1"
      ><h2>Testing 123</h2></mat-card-title
    >
  </mat-card-content>
</mat-card>
<mat-card style="overflow: hidden">
  <app-leaves style="height: 0px"></app-leaves>
  <mat-card-content
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <mat-card-title style="text-align: center; flex-grow: 1"
      ><h2>Testing 123</h2></mat-card-title
    >
  </mat-card-content>
</mat-card>

<app-card></app-card>

<div class="container">
  <div style="display: flex; align-items: center; justify-content: flex-end">
    <mat-icon>light_mode</mat-icon>
    <mat-slide-toggle (change)="toggleDarkMode($event)"></mat-slide-toggle>
    <mat-icon>dark_mode</mat-icon>
  </div>
  <div style="display: flex; align-items: center; justify-content: flex-end">
    <mat-icon>ac_unit</mat-icon>
    <mat-slide-toggle (change)="toggleSpringMode($event)"></mat-slide-toggle>
    <mat-icon>grass</mat-icon>
  </div>
  <app-tester></app-tester>
</div>

<router-outlet></router-outlet>
